.minicartSideBarContentWrapper--minicart-market :global(.vtex-store-icons-0-x-cartIcon--minicart-empty-state){
  width: 36%;
  overflow: visible;
}

.minicartQuantityBadge--minicart-market{
  top: 11px;
  background: none;
  font-size: 13px;
  font-weight: 700;
  color: #001E62;
  right: 7px;
}

@media screen and (max-width: 1024px){
  .minicartQuantityBadge--minicart-market{
    right: -8px !important;
    top: 10px !important;
  }
}








/**    CARRITO   **/

.minicartProductListContainer :global(.vtex-product-list-0-x-productBrandName){
  font-size: 12px;
  font-family: "asicfont-regular";
  color: #000000;
  opacity: .7;
}

.minicartProductListContainer :global(.vtex-product-list-0-x-productName){
  font-size: 16px;
  font-family: "asicfont-regular";
  color: #000000;
  opacity: .7;
  font-weight: 400;
}

.minicartProductListContainer :global(.vtex-product-list-0-x-price){
  color: #001E62;
  font-size: 22px;
  font-family: "asicfont-regular";
  font-weight: 700;
}

.minicartProductListContainer :global(.vtex-product-list-0-x-productVariationsItem){
  display: none;
}

.minicartProductListContainer :global(.vtex-product-list-0-x-quantitySelectorvtex-product-list-0-x-quantitySelector){
  margin-top: -10px;
  margin-bottom: -8px;
}

.minicartProductListContainer :global(.vtex-product-list-0-x-quantitySelectorvtex-product-list-0-x-quantitySelector) :global(.vtex-dropdown__container){
  border: none;
  /* border: 1px solid #d5d5d5; */
  border-radius: 37px;
  width: 90px;
  height: 42px;
}
.minicartProductListContainer :global(.vtex-product-list-0-x-quantitySelectorvtex-product-list-0-x-quantitySelector) :global(.vtex-dropdown__button){
  padding: 0;
  display: flex;
  justify-content: center;
}
.minicartProductListContainer :global(.vtex-product-list-0-x-quantitySelectorvtex-product-list-0-x-quantitySelector) :global(.vtex-dropdown__button) :global(.vtex-dropdown__caption){
  font-size: 16px;
  color: #001E62;
  display: flex;
  justify-content: center;
  border: 1px solid #dbd9d9;
  border-radius: 34px;
  width: 42px;
  height: 42px;
}
.minicartProductListContainer :global(.vtex-product-list-0-x-quantitySelectorvtex-product-list-0-x-quantitySelector) :global(.vtex-dropdown__button)::after{
  font-size: 16px;
  color: #001E62;
  content: "+";
  padding-left: 7px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.minicartProductListContainer :global(.vtex-product-list-0-x-quantitySelectorvtex-product-list-0-x-quantitySelector) :global(.vtex-dropdown__button)::before{
  font-size: 16px;
  color: #001E62;
  content: "-";
  padding-right: 7px;
  font-weight: 500;
  display: flex;
  align-items: center;
}


.minicartProductListContainer :global(.vtex-product-list-0-x-quantitySelectorvtex-product-list-0-x-quantitySelector) :global(.vtex-dropdown__container) :global(.vtex-dropdown__arrow){
  display:none;
}

.minicartProductListContainer :global(.vtex-product-list-0-x-productImageContainer) :global(.vtex-product-list-0-x-productImage){
  border: 1px solid #dbd8d8;
}

.overlay--minicart-market--visible{
  background-color: #0d0d0e;
  opacity: 0.7 !important;
}

