.menuItem--mas-vendido-text-2{
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}

.styledLinkContent--mas-vendido-text-2{
  color: #001E62;
  margin-bottom: -12px;
  text-decoration: underline;
}

/*CSS OFERTA KELVIN*/
.vtex-menu-sale {
  font-size: 15px;
  font-family: 'Roboto';
  color: #001E62;
  font-weight: 700;
  background: #E4E5F4;
  padding: 8px 13px 8px 23px;
  border-radius: 23px;
}


/*END OFERTA KELVIN*/

/*AGREGAR RECOMENDADO*/

.menuItem--gretel-recomendado-text-2{
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}

.styledLinkContent--gretel-recomendado-text-2{
  color: #001E62;
  margin-bottom: -12px;
  text-decoration: underline;
}

/*END*/

.styledLinkContainer--footer-desk-item{
  margin-left: 0;
  margin-right: 0;
}

.styledLinkContent--footer-desk-item{
  color: white;
  font-size: 13px;
  font-family: 'Roboto';
}

.menuContainer--footer-acordeon-menu{
  padding-top: 18px;
}

.styledLinkContent--menu-item-principal-desplegable{
  font-size: 15px;
  font-family: 'Roboto';
  color: #001E62;
  font-weight: 700;
}

.styledLinkContent--menu-item-principal-fijo{
  font-size: 15px;
  font-family: 'Roboto';
  color: #001E62;
  font-weight: 700;
}

.styledLinkContent--menu-item-principal-fijo-sale{
  font-size: 15px;
  font-family: 'Roboto';
  color: #001E62;
  font-weight: 700;
  background: #E4E5F4;
  padding: 8px 23px 8px 23px;
  border-radius: 23px;
}

.menuContainer--sticky-header-menu-vm{
  align-items: center;
}


.menuItem--menu-item-principal-desplegable--isClosed .styledLinkContainer--menu-item-principal-desplegable::after{
  content:"...";
  background-image: url(/arquivos/xGrupo7466.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 12px;
  color: transparent;
}

.menuItem--menu-item-principal-desplegable--isOpen .styledLinkContainer--menu-item-principal-desplegable::after{
  content:"...";
  background-image: url(/arquivos/Y-Grupo7466.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 12px;
  color: transparent;
}

.styledLinkContainer--menu-item-principal-desplegable{
  display: flex;
}

.styledLinkContainer--menu-item-principal-desplegable{
  margin-left: 14px;
  margin-right: 14px;
}
/*prueba*/

.styledLinkContent--menu-item-principal-desplegable2{
  font-size: 15px;
  font-family: 'Roboto';
  color: #001E62;
  font-weight: 700;

}

.menuItem--menu-item-principal-desplegable2--isClosed .styledLinkContainer--menu-item-principal-desplegable2::after{
  content:"...";
  background-image: url(/arquivos/xGrupo7466.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 12px;
  color: transparent;
}

.menuItem--menu-item-principal-desplegable2--isOpen .styledLinkContainer--menu-item-principal-desplegable2::after{
  content:"...";
  background-image: url(/arquivos/Y-Grupo7466.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 12px;
  color: transparent;
}

.styledLinkContainer--menu-item-principal-desplegable2{
  display: flex;
  background: #E4E5F4;
  padding: 8px 13px 8px 23px;
  border-radius: 23px;
}

.styledLinkContainer--menu-item-principal-desplegable{
  margin-left: 14px;
  margin-right: 14px;
}

.menuItem--menu-item-principal-desplegable2--isOpen .styledLinkContainer--menu-item-principal-desplegable2::before{
  content: "";
  order: 3;
  display: revert;
  position: absolute;
  background: #001E62;
  width: 63px;
  height: 5px;
  margin-top: 17px;
  font-weight: 700;
}

/*/ enda*/

.styledLinkContainer--menu-item-principal-fijo{
  margin-left: 14px;
  margin-right: 14px;
}
.styledLinkContainer--menu-item-principal-fijo-sale{
  margin-left: 14px;
  margin-right: 14px;
}

.styledLinkContent--subitems-submenu-tittle{
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 700;
  color: #001E62;
}

.styledLinkContent--subitems-submenu-item{
  font-size: 15px;
  font-family: 'Roboto';
  font-size: 15px;
  font-family: 'Roboto';
  padding-bottom: 6px;
  padding-top: 6px;
}

.styledLinkContent--subitems-submenu-ver-todo{
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 700;
  color: #001E62;
  text-decoration: underline;
  padding-top: 12px;
}

.menuContainerNav--item-1-contenido-submenu-colum-1{
  padding-left: 100px;
  padding-right: 100px;
}

.menuContainerNav--item-1-contenido-submenu-colum-1:nth-child(0n+2){
  border-left: 1px solid #6b82b7;
  border-right: 1px solid #6b82b7;
}

.menuContainer--cotenido-1-nivel-2-menu :global(.vtex-disclosure-layout-1-x-trigger){
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #707070;
}

.menuContainerNav--nivel-2-content-menu .styledLinkContent--subitems-submenu-item{
  font-size: 14px !important;
  color: #000000;
  opacity: .7;
  padding-left: 21px;
}

.menuContainerNav--nivel-2-content-menu .menuItem--subitems-submenu-item{
  border-bottom: 1px solid #bfbfbf;
}

.menuContainerNav--descripcion-carateristicas-menu :global(.vtex-disclosure-layout-1-x-trigger){
  background: transparent;
  border-bottom: 1px solid #b9b6b6;
  border-top: 1px solid #b9b6b6;
  border-left: 0;
  border-right: 0;
}

.menuContainer--preguntas-frecuentes-menu :global(.vtex-disclosure-layout-1-x-trigger--visible){
  background: transparent;
  border-radius: 10px;
  border: none !important;
  box-shadow: 0 4px 5px rgb(0 0 0 / 10%);
}
.menuContainer--preguntas-frecuentes-menu :global(.vtex-disclosure-layout-1-x-trigger){
  background: transparent;
  border-radius: 10px;
  /* border: 1px solid #edeaea; */
  border: none !important;
  box-shadow: 0 4px 5px rgb(0 0 0 / 10%);
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
}

.menuContainer--preguntas-frecuentes-menu :global(.vtex-disclosure-layout-1-x-trigger) :global(.vtex-store-icons-0-x-caretIcon){
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  background: #001E62;
  color: white;
  border-radius: 23px;
  padding: 3px;
  width: 17px;
  height: 17px;
}

.menuItem--menu-item-principal-desplegable--isOpen .styledLinkContainer--menu-item-principal-desplegable::before{
  content: "";
  order: 3;
  display: revert;
  position: absolute;
  background: #001E62;
  width: 63px;
  height: 5px;
  margin-top: 17px;
}


/**/
.menuContainer--lvl-3{
  display: grid;
}

@media screen and (max-width: 1024px){

  .styledLinkContent--footer-mob-menu-item{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    color: #001E62;
    padding-left: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .styledLinkContainer--footer-mob-menu-item{
    margin: 0;
    padding: 1px 6px;
    border-bottom: 1px solid #707070;
    height: 56px;
  }

  .styledLinkContent--lvl-3{
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    padding-top: 17px;
    padding-left: 16px;
    padding-bottom: 17px;
  }

  .menuItem--lvl-3{
    border-bottom: 1px solid #bbbaba;
  }
}

@media screen and (min-width: 1025px){

  .styledLinkContainer--lvl-3{
    margin-left: 0;
    margin-right: 0;
  }

  .menuContainer--lvl-3{
    width: 115px;
  }

  .styledLinkContent--lvl-3{
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 400;
    padding-top: 12px;
    /* padding-left: 16px; */
    padding-bottom: 12px;
  }

  .menuContainer--item-1-contenido-submenu .menuItem--lvl-3:nth-child(0n+1) .styledLinkContent--lvl-3{
    font-size: 16px;
    font-family: 'Roboto';
    color: #001E62;
    font-weight: 700;
  }
  .menuContainer--item-2-contenido-submenu .menuItem--lvl-3:nth-child(0n+1) .styledLinkContent--lvl-3{
    font-size: 16px;
    font-family: 'Roboto';
    color: #001E62;
    font-weight: 700;
  }

  .menuItem--lvl-3:last-child .styledLinkContent--lvl-3{
    font-size: 15px;
    font-family: 'Roboto';
    color: #001E62;
    font-weight: 700;
    text-decoration: underline;
  }

  .styledLinkContent--lvl-3:hover{
    font-weight: 700;
  }

  .menuContainerNav--lvl-3{
    padding-left: 50px;
    padding-right: 50px;
    border-right: 1px solid #e7e3e3;
  }

}
/**/
