
.productHighlightWrapper--collection {
  position: absolute;
  z-index: 2;
  margin-left:5px;
  margin-top: 1px;
  height: 24px;
  width: max-content!important;
  min-height: unset;
  padding: 0 8px!important;
  background-color: #485CC7;
  border-radius: 4px;
  color: white;
  line-height: 26px;
  letter-spacing: 1.5px;
  font-size: 12px;
  font-weight: 600
}
/*
@media only screen and (max-width:768px) {
  .productHighlightWrapper--collection {
      display: flex;
      position: relative;
      left: 100px;
      flex-direction: row-reverse;
     
      }
  }
*/
/*
.productHighlightWrapper--collection {
  position: relative;
  top: 0px;
  right: 50px;
}

/*anthony
.productHighlightWrapper--collection {
  position: absolute;
  top: 10px;
  left: 14px;
  width: 200px;
}*/

/*
.productHighlightText {
  background: #e8e4f4;
  border-radius: 10px;
  padding: 5px 10px;
}
*/
/*
.productHighlightText {
  background: #B94126;
  color:white;
  font-size: 12px;
  border-radius: 10px;
  padding: 5px 10px
}


.productHighlightText {
  margin-top: 17px;
  background: #001E63;
  color:white;
  margin-left:10px;
  opacity: .9;
  font-size: 12px;
  border-radius: 10px;
  padding: 5px 10px;
}
@media screen and (max-width: 1024px){
  .productHighlightText {
    font-size: 11px !important;
  }
}
*/