
.productHighlightWrapper--collection {
  display:flex;
  position: relative;
  left: 150px;
  flex-direction: row-reverse;
  margin-block:-12px
}

@media only screen and (max-width:768px) {
  .productHighlightWrapper--collection {
      display: flex;
      position: relative;
      left: 100px;
      flex-direction: row-reverse;
     
      }
  }

/*
.productHighlightWrapper--collection {
  position: relative;
  top: 0px;
  right: 50px;
}

/*anthony
.productHighlightWrapper--collection {
  position: absolute;
  top: 10px;
  left: 14px;
  width: 200px;
}*/

/*
.productHighlightText {
  background: #e8e4f4;
  border-radius: 10px;
  padding: 5px 10px;
}
*/
/*
.productHighlightText {
  background: #B94126;
  color:white;
  font-size: 12px;
  border-radius: 10px;
  padding: 5px 10px
}

*/
.productHighlightText {
  margin-top: 17px;
  background: #001E63;
  color:white;
  margin-left:10px;
  opacity: .9;
  font-size: 12px;
  border-radius: 10px;
  padding: 5px 10px;
}
@media screen and (max-width: 1024px){
  .productHighlightText {
    font-size: 11px !important;
  }
}
