.quantitySelectorContainer .quantitySelectorTitle{
  font-family: "asicfont-regular", sans-serif;
  font-size: 14px;
  color: #252C3B;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.quantitySelectorStepper :global(.vtex-numeric-stepper__input){
  color: #001E62;
  font-size: 16px;
  font-family: "asicfont-regular", sans-serif;
  border: 1px solid #D4D8DD;
  border-radius: 44px;
  width: 42px;
  height: 42px;
}

.quantitySelectorStepper :global(.vtex-numeric-stepper__plus-button){
  border: none;
  height: 42px;
  font-family: "asicfont-regular", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background:transparent;
}

.quantitySelectorStepper :global(.vtex-numeric-stepper__minus-button){
  border: none;
  height: 42px;
  font-family: "asicfont-regular", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background:transparent;
}

