.trigger--footer-acordeon-triger{
  background: transparent;
  border-bottom: 1px solid #D4D8DD;
  border-top: 1px solid #D4D8DD;
  border-left: none;
  border-right: none;
  height: 50px;
}

.trigger--footer-acordeon-triger :global(.vtex-store-icons-0-x-caretIcon){
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.trigger--footer-acordeon-triger--hidden :global(.vtex-rich-text-0-x-container--footer-acordeon-triger-title)::after{
  content:"+";
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Rubik'
}

.trigger--footer-acordeon-triger--visible :global(.vtex-rich-text-0-x-container--footer-acordeon-triger-title)::after{
  content:"-";
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Rubik'
}

.trigger--disclosure-trigger-nivel-1{
  background: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #707070;
}

.trigger--disclosure-trigger-nivel-1--hidden :global(.vtex-rich-text-0-x-container--nivel-1-text)::after{
  content: "...";
  background-image: url(/arquivos/XGrupo7466.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 12px;
  color: transparent;
  height: 100%;
}

.trigger--disclosure-trigger-nivel-1--visible :global(.vtex-rich-text-0-x-container--nivel-1-text)::after{
  content: "...";
  background-image: url(/arquivos/Y-Grupo7466.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 12px;
  color: transparent;
  height: 100%;
}

.content--disclosure-content-nivel-1 .trigger--hidden :global(.vtex-rich-text-0-x-container--nivel-2-text)::after{
  content: "...";
  background-image: url(/arquivos/XGrupo7466.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 12px;
  color: transparent;
  height: 100%;
}

.content--disclosure-content-nivel-1 .trigger--visible :global(.vtex-rich-text-0-x-container--nivel-2-text)::after{
  content: "...";
  background-image: url(/arquivos/Y-Grupo7466.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 12px;
  color: transparent;
  height: 100%;
}


@media screen and (max-width: 1024px){

  .content--disclosure-content-nivel-1:nth-child(0n+2) :global(.vtex-menu-2-x-menuContainerNav--lvl-3) :global(.vtex-menu-2-x-menuItem--lvl-3):nth-child(0n+1){
    display: none;
  }
  .content--disclosure-content-nivel-1:nth-child(0n+4) :global(.vtex-menu-2-x-menuContainerNav--lvl-3) :global(.vtex-menu-2-x-menuItem--lvl-3):nth-child(0n+1){
    display: none;
  }

  .content--disclosure-content-nivel-1 :global(.vtex-menu-2-x-menuContainerNav--lvl-3) :global(.vtex-menu-2-x-menuItem--lvl-3):last-child :global(.vtex-menu-2-x-styledLinkContent--lvl-3){
    font-weight: 700;
  }

}
